{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=nome_do_banco;User=root;Password=sua_senha;Port=3306"
  },
  "Jwt": {
    "Key": "ChaveSecretaSuperSeguraParaJWT12345678901234567890",
    "Issuer": "GemonaAPI",
    "Audience": "GemonaClients",
    "ExpireDays": 7
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}